
.navbar {
    grid-area: n;
    background-color: lightseagreen;
    padding: 20px;





}

a.r{
    color: darkred;
}

.link{
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.link:hover{
    background-color: black;
    transition: 0.5s;


}


/*.sitebar{*/
/*    padding-top: 50px;*/
/*}*/






