.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}


.dialogsitems {
    padding: 10px;


}


.items {


}


.messages {
    padding: 10px;

}


.message {
    font-size: 20px;


}

.link {
    text-decoration: none;
    color: white;
    font-size: 20px;


}

.active{
    color: red;
    font-weight: bold;
}


.send {
    padding-top: 15px;


}



.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50px;

}

.formatDate{
    font-size: 8px;
}

.count{
    font-weight: bold;
    text-align: center;
    padding: 1px;
    display: inline-block;
    width: 25px;
    height: 25px;
    color: white;
    background-color: deepskyblue;
    border-radius:50%;
}










